<div *ngIf="newsArticles">
    <h2>Noticias Espaciales</h2>
    <ul>
      <li *ngFor="let article of newsArticles">
        <a [routerLink]="['/news', article.id]">
          <h3>{{ article.title }}</h3>
        </a>
        <p>{{ article.publishedAt | date }}</p>
        <p>{{ article.summary }}</p>
      </li>
    </ul>
  </div>
  <div class="gallery-view-button">
    <a routerLink="/image-search">
    <button class="btn" type="button">
      <strong>Imagenes</strong>
      <div id="container-stars">
        <div id="stars"></div>
      </div>
    
      <div id="glow">
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </button>
  </a>
  </div>
  
  