<h2>Explorar el Archivo de Imágenes de la NASA</h2>
<div class="search-gallery-container">
    <input type="text" [(ngModel)]="query" placeholder="Consulta de búsqueda">
    <button (click)="searchImages()" class="container-button">
      <div class="gallery-view-button">
        <a routerLink="/image-search">
        <button class="btn" type="button" >
          <strong>Buscar</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
        
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
      </a>
      </div>
    </button>
</div>
<div class="image-gallery">
  <div *ngIf="images" class="images-wrapper">
    <div *ngFor="let image of images">
      <div class="image-item">
        <img [src]="image.links[0].href" alt="{{ image.data[0].title }}">
        <p class="image-description">{{ image.data[0].title }}</p>
        <p><strong>Date:</strong> {{ image.data[0].date }}</p>
         <!--  <p>{{ image.data[0].description }}</p> -->      
      </div>
    </div>
  </div>
</div>
