.home-container{
    /* background-image: url('../../assets/images/background.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  button{
    border-radius: 10px;
    padding: 23px;
    border: none;
    background-color: #5773c3;
    cursor: pointer;
    margin-top: 15px;
  }
  button a{
    color: white;
  }

  .floating-image {
    width: 220px;
    height: 220px;
    animation: floatingAnimation 2.5s ease-in-out infinite; 
    margin-top: 40px;
  }
  
  @keyframes floatingAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
  }
  
  

